<%= form_with(model: recurring_appointment, remote: true) do |form| %>
  <% if recurring_appointment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(recurring_appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

    <ul>
      <% recurring_appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :recurring_appointment_title %>
  </div>

  <div class="field">
    <%= form.label :anchor %>
    <%= form.datetime_select :anchor, id: :recurring_appointment_anchor %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.select(:frequency,  options_for_select([['weekly',0], ['biweekly', 1], ['monthly', 2]]), id: :recurring_appointment_frequency) %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= link_to 'New Appointment', new_appointment_path, class: 'btn btn-default', remote: true if recurring_appointment.new_record? %>
    <%= link_to 'Delete', recurring_appointment, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}, remote: true unless recurring_appointment.new_record? %>
  </div>
<% end %>
